body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    background-color: rgba(5, 18, 13, 1);
}

img{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

#top-menu {
    position: absolute;
    width: 100%;
    top: 20px;
    left: 20px;
    z-index: 10;
}

#top-menu .menu-button {
    cursor: inherit;
    padding: 0.75em;
    background-color:rgba(256,256,256,0.7);
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

#top-menu .menu-button img {
    width: 100%;
    height: auto;     
}

#top-menu .left-buttons {
    width: auto;
    position: absolute;
    left: 1em;
}

#top-menu .right-buttons {
    width: auto;
    position: absolute;
    right: 2.5em;
}

.btn-show-cursor {
    display: none;
}

.btn-exit-fullscreen {
    display: none;
}

.btn-map {
    width: 7em !important;
    height: 7em !important;
    display: none;
}

#bottom-menu {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.menu-button{
    cursor: inherit;
}

.btn-language {
    display: flex;
    color: white;
    flex-direction: column;
    font-size: 1em;
    background: transparent;
    border: none;
    text-align: center;
}

.languageimg {
    display: none;
    width: 4em;
    height: 4em;
    margin: 5px 5px;
    border-radius: 50%;    
    object-fit: cover;
    overflow: hidden; 
}

.img-pt-br {
    display: flex;
}

.country-container {
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.country-selector{
    text-align: center;
    padding: 1em;
    border: 2px solid rgba(255, 195, 0, 0.5);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: inherit;
    margin-right: 1em;
    margin-left: 1em;
}

.country-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4em;
    height: 4em;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;    
    object-fit: cover;
    overflow: hidden; 
}

.app-page {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: rgba(5, 18, 13, 1);
}

#page-map {
    display: flex;
    justify-content: center;
    align-items: center;
}

#world-map {
    width: 90vw;
    height: 90vh;
    max-width: 90vw;
    max-height: 90vh;
    display: block;
    background: transparent;
    fill: white;
}

path.continent-south-america {
    fill: rgba(182, 70, 44, 0.7) !important;
}

path.continent-north-america {
    fill: rgba(74, 112, 139, 0.7) !important;
}

path.continent-europe {
    fill: rgba(64, 109, 53, 0.7) !important;
}

path.continent-asia {
    fill: rgba(74, 168, 144, 0.7) !important;
}

path.continent-oceania {
    fill: rgba(217, 128, 111, 0.7) !important;
}

path.continent-africa {
    fill: rgba(142, 94, 60, 0.7) !important;
}

#modal-backdrop {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.modal-close{
    position: absolute;
    top: 1em;
    right: 1em;
    background: transparent;
    border: none;
    color: white;
    font-size: 2.5em;
    cursor: inherit;
}

.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(59, 6, 8, 1);
    color: rgba(215, 180, 158, 1);
    padding: 1em;    
    border-radius: 1.5em;
    width: 80%;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    z-index: 50;
}

.modal-content{
    padding: 2em;
    border-style: solid;
    border-color: rgba(255, 195, 0, 1);
    border-width: 5px;
    border-radius: 1.5em;
    font-size: 1.2em;
}

.padding-bottom-1 {
    padding-bottom: 1em;
}

.padding-bottom-2 {
    padding-bottom: 2em;
}

.col-container {
    width: 100%;
    display: flex;
}

.col-4-1 {
    width: 25%;
    padding-left: 1em;
    padding-right: 1em;
}

.col-4-3{
    width: 75%;
    padding-left: 1em;
    padding-right: 1em;
}

.col-2-1 {
    width: 50%;
    padding-left: 1em;
    padding-right: 1em;
}


/* Table CSS */

.table-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.35);
    background-blend-mode: darken;
}

.food-item {
    position: absolute;
    width: 18vw;
    height: auto;
    cursor: inherit;
    z-index: 5;
}

.food-item .food-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.food-pos-1 {
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.food-pos-2 {
    width: 12vw;
    top: 30%;
    left: 32.5%;
    transform: translate(-50%, -50%);
}

.food-pos-3 {
    width: 12vw;
    bottom: 10%;
    left: 32.5%;
    transform: translate(-50%, -50%);
}

.food-pos-4 {
    width: 25vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.food-pos-5 {
    width: 12vw;
    top: 30%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.food-pos-6 {
    width: 12vw;
    bottom: 10%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.food-pos-7 {
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.table-dishes {
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.table-dishes img {
    position: absolute;
    width: 25vw;
    height: auto;
    object-fit: contain;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.table-dishes img:nth-child(1) {
    top: 100%;
    left: 30%;
}

.table-dishes img:nth-child(2) {
    top: 100%;
    left: 70%;
}

.table-dishes img:nth-child(3) {
    top: 0%;
    left: 30%;
    transform: rotate(180deg) translate(50%, 50%);
}

.table-dishes img:nth-child(4) {
    top: 0%;
    left: 70%;
    transform:  rotate(180deg) translate(50%, 50%);
}

.recipe-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Table backgrounds */

.table-background {
    background-image: url("../img/tables/ww-table-background.jpg");
}

.table-background.table-brazil {
    background-image: url("../img/tables/br-table-background.jpg") !important;
}